.book-details {
  margin-top: 10px;
  text-align: center;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-self: center;
}
.book-details-content p {
  margin: 3px;
  display: flex;
  /* flex-direction: column; */
  align-items: flex-start;
  flex-wrap: wrap;
}

.red {
  color: red;
}

.green {
  color: green;
}
.close-details {
  position: absolute;
  left: 14px;
  top: 32px;
  border: none;
  background-color: ghostwhite;
  font-size: 1.2rem;
}
.close-details:hover {
  cursor: pointer;
}
.tldr-btn {
  border: none;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 3px;
  background-color: blanchedalmond;
}
