.review-container {
  flex-direction: column;
  align-items: center;
}

.form-container {
  flex-wrap: wrap;
  flex-direction: column;
}
.form-container .review-btn {
  align-self: center;
}
.review-btn-container {
  display: flex;
  justify-content: space-between;
}
.review-btn {
  border: none;
  width: fit-content;
  border-radius: 5px;
  padding: 3px;
  background-color: blanchedalmond;
}

span.checked:hover {
 filter: brightness(1.1)
}
span.checked {
  color: orange;
}
